p {
    background-color: rgb(255, 81, 0);
    color: yellow;
    border: 5px yellow solid;
    padding:5px;
}
body{
    background-color: rgba(128, 0, 0, 0.788);
}
h1{
    color:yellow;
}
h2{
    color:yellow;
}