p {
    color: red;
}

#about-me {
    font-size: xx-large;
}
#classes paragraph {
    font-size:large;
}
.cool {
    border: 5px black solid;
}
.lame{
    font-size:x-small;
}
.strong{
    font-size:x-large;
}